
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #A32323; /* Установите нужный цвет фона */
  margin: 0; /* Уберите отступы по умолчанию */
  padding: 0; /* Уберите внутренние отступы по умолчанию */
  font-family: Nyght serif dark, Sitka Small Semibold;
}

.custom-text {
  color: #F7E8E8;
  font-size: 50px;
  font-family: Nyght serif dark;
  max-width: auto;
  text-align: center;
  margin: auto;
  padding: 50px;

}
.img{

  justify-content: center;
  align-items: center; 
  margin: auto;
  border-radius: 30px;

}

.buttons{
  display: grid;
  grid-template-columns: repeat(3, 2fr);

}

.button{
  color: #A32323;
  background-color: #F7E8E8;
  font-size: 45px;
  font-family:Sitka Small Semibold;
  max-width: auto;
  text-align: center;
  margin: 40px;
  padding: 10px;
  border-radius: 15px;

}